RM_BASE_URL=https://www4.bahiana.edu.br/api/framework/v1/consultaSQLServer/RealizaConsulta
RM_USER=pipefy
RM_PASS=P1p3fy_26@

PIPEFY_CLIENT_ID=9lVjvx73er7azre0eThfJdaN33uDv2HZnew-Q_s4GGA
PIPEFY_CLIENT_SECRET=NUbYY27FV8qWni6WSKU1dWvqk8SMpc5l3sDO11-ST0g
PIPEFY_TOKEN_URL=https://app.pipefy.com/oauth/token
PIPEFY_GRAPHQL_URL=https://api.pipefy.com/graphql
